@charset "utf-8";

body{
    color:#333;
}
body,h1,h2,h3,h4,h5h,h6,p{
    margin:0;
}

a{
    text-decoration:none;
    color:#333;
}

ul{
    padding:0;
    margin:0;
    list-style:none;
}

.cf::after{
    content:"";
    display:block;
    clear:both;
}