/*ν—¤λ” ν‘Έν„°*/

@charset="utf-8";

#header{
}

.headerBox{
    height:60px;
    line-height:60px;
    border-bottom:1px solid #e5e5e5;
    margin-bottom:30px;
}

.headerBox h1{
    float:left;
}
.headerBox h1 a{}
.headerBox h1 img{}


.gnb{
     float:left;
     margin-left:50px;
}
.gnb li{
    float:left;
    margin-right:40px;
    font-size:14px;
}
.gnb li a{}

.lnb{
    position:absolute;
    line-height:30px;
    display:none;
}
.lnb li{}
.lnb li a{}

.gnb li:hover .lnb{display:block;}

.utilR{}
.utilR li{
    float:right;
    margin-left:20px;
    font-size:12px;
    font-weight:bold;
}
.utilR li a{}

#footer{
    font-size:11px;
    border-top:1px solid #2f2f2f;
    padding:20px 0;

}
#footer>div{position:relative;}
.fLoge{
    float:left;
    height:50px;
    margin-right:30px;
}
.fLoge img{
     vertical-align:middle;
}
.footMenu{
}
.footMenu li{
    float:left;
}
.footMenu li::after{
    content:"";
    display:inline-block;
    clear:both;
    width:1px;
    height:10px;
    background:#333;
    margin:0 7px;
}

.footMenu li:last-child::after{
    display:none;
}
.footMenu li a{}
.footMenu p{
    float:left;
    margin-top:10px;
}


.fMark{
    position:absolute;
    right:0;
    top:0px;
    
}
.fMark a{}
.fMark img{
}

